<!-- <p>Aquí iría un empleado</p>
<p>La suma de 1 + 1 es: {{ 1 + 1 }}</p> -->
<div class="cajaFormulario">
    <!-- <input #nombreTrabajador class="inputClass" placeholder="Nombre del trabajador" />
    <input #apellidoTrabajador class="inputClass"  placeholder="Apellido del trabajador" />
    <input #edadTrabajador class="inputClass"  placeholder="Edad Trabajador" /> -->
    <!-- <input #empresaTrabajador (keyup)="0" class="inputClass"  placeholder="Empresa del trabajador" /> -->
    <!-- <button class="buttonClass" (click)="llamarEmpresa(empresaTrabajador.value)">Cambiar Empresa</button> -->
</div>

<p>Nombre del empleado: {{ nombre }}</p>
<p>Apellido del empleado: {{ apellido }}</p>
<p>Edad del empleado: {{ edad < 18 ? "Menor de edad" : "Mayor de edad" }}</p>
<p>Empresa del empleado: {{ empresaTrabajador.value }}</p>
Introduce la empresa:<input #empresaTrabajador (keyup)="0" placeholder="Empresa del trabajador" [disabled] = "habilitacionCuadro">
<br/>
<br/>
{{ Textoregistrado }}
<br/>
<!-- Registrado: <input type="checkbox" id="registro" [checked]="usuRegistrado" (click)="setTextoRegistrado()" /> -->
Registrado: <input type="radio" id="registrado" name="usuarioRegistrado" value="si" (click)="setTextoRegistrado($event)">
<br/>
No registrado: <input type="radio" id="no_registrado" name="usuarioRegistrado" value="no" (click)="setTextoRegistrado($event)">

{{getRegistroUsuario()}}